@import 'config';
.announcement {
  position: relative;
  left: 0;
  right: 0;
  overflow: visible;
}

.book {
  display: flex;
  margin-bottom: $bottom-margin;
  padding-top: 140px;

  &-color {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    background-color: #F7F1EB;
    width: 100vw;
    height: 80%;
  }

  &-info {
    width: 50%;
  }

  &__h4 {
    margin-bottom: 0;
  }
  
  &__h1 {
    margin-bottom: $bottom-margin;
    margin-top: 0;
  }


  &__p {
    color: #5E5B69;
    line-height: 2rem;
    font-weight: 300;
    font-size: 1.125em;
    margin-bottom: $bottom-margin;
  }

  &-image {
    width: 50%;
    display: flex;
    justify-content: end;
  }
}