@import 'config';

.announcement {
  left: 0;
  overflow: visible;
  position: relative;
  right: 0;
}

.book {
  display: flex;
  margin-bottom: $bottom-margin;
  padding-top: 140px;

  @media (max-width: 1100px) {
    align-items: center;
    flex-direction: column;
  }

  &-color {
    background-color: #f7f1eb;
    height: 80%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100vw;
    z-index: -1;
  }

  &-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 50%;

    @media (max-width: 1100px) {
      justify-content: center;
      text-align: center;
      width: 100%;
    }
  }

  &__h4 {
    margin-bottom: 0;

    @media (max-width: 520px) {
      display: none;
    }
  }

  &__h1 {
    margin-bottom: $bottom-margin;
    margin-top: 0;

    @media (max-width: 1100px) {
      font-size: 32px;
    }
  }

  &__p-big {
    color: #5e5b69;
    font-size: 1.125em;
    font-weight: 300;
    line-height: 2rem;
    margin-bottom: $bottom-margin;

    @media (max-width: 520px) {
      display: none;
    }
  }

  &__p-sm {
    color: #5e5b69;
    display: none;
    font-size: 1.125em;
    font-weight: 300;
    line-height: 2rem;
    margin-bottom: $bottom-margin;

    @media (max-width: 520px) {
      display: inline;
    }
  }

  &-image {
    display: flex;
    justify-content: end;
    width: 50%;

    @media (max-width: 1100px) {
      justify-content: center;
      width: 100%;
    }
  }

  .button-center-sm {
    margin-bottom: 20px;

    @media (max-width: 1100px) {
      margin: auto;
      margin-bottom: 20px;
    }
  }
}
