$gutter: 30px;
$beige: #e3cdb1;
$white: #fff;
$black: #000;
$gray: #d0d0d0;
$full: 100%;

@mixin row() {
  display: flex;
  margin-left: - ($gutter / 2);
  margin-right: - ($gutter / 2);
}

@mixin column($col) {
  padding-left: $gutter / 2;
  padding-right: $gutter / 2;
  width: ($col / 12 * 100) * 1%;
}

@mixin offset-column($offset) {
  margin-left: ($offset / 12 * 100) * 1%;
}
