$max-width : 1290px;
$gutter: 30px;
$beige: #e3cdb1;
$white: #fff;
$white-off: #fafafa;
$black: #000;
$gray: #d0d0d0;
$gray-dark: #9b9b9b;
$transparent: #00000000;
$full: 100%;
$max-width: 1290px;
$bottom-margin: 1.5rem;
$top-margin: 1.5rem;
$bottom-padding: 1.5rem;
$top-padding: 1.5rem;
$left-padding: 1.5rem;
$right-padding: 1.5rem;
$section-margin: 100px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

@mixin row() {
  display: flex;
  flex-wrap: wrap;
  margin-left: - ($gutter / 2);
  margin-right: - ($gutter / 2);
}

@mixin column($col) {
  padding-left: $gutter / 2;
  padding-right: $gutter / 2;
  width: ($col / 12 * 100) * 1%;
}

@mixin offset-column($offset) {
  margin-left: ($offset / 12 * 100) * 1%;
}

@mixin width-percent($number) {
  width: $number * 1%;
}

@mixin offset-width-percent($offset) {
  margin-left: $offset * 1%;
  margin-right: $offset * 1%;
}
