* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-size: 16px;
  margin: 0 auto;
}
main{
  max-width: $max-width;
}
p,
h4,
button {
  font-family: 'Poppins', sans-serif, serif;
}

h1,
h2,
h3 {
  font-family: 'Playfair Display', Georgia, serif;
}
h3{
  font-size: 2.5rem;
}
h4{
  color: $beige;
  font-size: 1rem;
}
button {
  border: 1px solid $beige;
  color: $beige;
  height: 92px;
  width: 250px;
}

.button-dark {
  background-color: $black;
}
.button-split {
  background-image: linear-gradient(to left, $white 50%, $beige 50%);
}
