* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  font-size: 16px;
  margin: 0 auto;
}
main{
  max-width: $max-width;
}
p,
h4,
button {
  font-family: 'Poppins', sans-serif, serif;
}

h1,
h2,
h3 {
  font-family: 'Playfair Display', Georgia, serif;
}
h3{
  font-size: 2.5rem;
}
h1{
  font-size: 3.75rem;
}
h4{
  color: $beige;
  font-size: 1rem;
  font-weight: 500;
}
h2{
  font-size: 2.5rem;
}
button {
  border: 1px solid $beige;
  color: $beige;
  display: flex;
  height: 52px;
  justify-content: center;
  align-content: center;
  width: 250px;
  background-color: $transparent;
  font-size: 1rem;
  p {
    font-size: 1rem;
    margin: auto 0;
  }
  p:first-of-type {
    margin-right: 0.5rem;
  }
  &:hover {
    background-image: linear-gradient(to left, $transparent 53.2%, $beige 46.8%);
    p:first-of-type{
      color: $white;
    }
  }
}

.button-dark:hover{
  background-image: linear-gradient(to left, $transparent 42%, $beige 43%);
}
section{
  margin-bottom: $section-margin;
}
.check-out > h2:first-of-type {
  color: #d0d0d0;
  margin-right: 0.5rem;
}
@media(min-width: 800px){
.horizontal-line {
  border: 1px solid $gray;
  &__small{
    border: 0.5px solid $gray;
    width: calc(33.33333% + 15px);
    height: 1px;
    margin-bottom: 26px;
    align-self: flex-end;
  }
}
}


