// Sækja config
@import './config';

// Hér skal nota scss @for til að ítra út klösum fyrir grid
.grid {
  max-width: $max-width;
  margin: auto;
  overflow: hidden;
  width: 100%;

  &-header{
    overflow: visible;
  }
}

.row {
  @include row();
}

.col {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

  @for $i from 1 to 12 {
    .col-#{$i} {
      @include column($i);
    }
    .offset-col-#{$i} {
     @include offset-column($i);
    }
  }

@media (max-width: 600px) {
  @for $i from 1 to 100 {
    .width-percent-#{$i}-sm {
      @include width-percent($i);
    }
    .offset-width-percent-#{$i}-sm {
      @include offset-width-percent($i);
    }
  }
  .center-text-sm {
    text-align: center;
  }

  .hidden-sm {
    position: absolute;  
    left: -999999px;
  }
}
