// Sækja config
@import './config';

// Hér skal nota scss @for til að ítra út klösum fyrir grid
.grid {
  max-width: $max-width;
  margin: auto;
  overflow: hidden;
  width: 100%;

  &-header {
    overflow: visible;
  }
}

.row {
  @include row();
}

.col {
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.margin-auto {
  margin: auto;
}

@for $i from 1 to 12 {
  .col-#{$i} {
    @include column($i);
  }

  .offset-col-#{$i} {
    @include offset-column($i);
  }
}

@media (min-width: 601px) {
  .hidden {
    visibility: hidden;
    position: absolute;
    left: -999999px;
  }
}

@media (max-width: 600px) {
  @for $i from 1 to 12 {
    .col-#{$i}-sm {
      @include column($i);
    }
    .offset-col-#{$i}-sm {
      @include offset-column($i);
    }
  @for $i from 1 to 100 {
    .width-percent-#{$i}-sm {
      @include width-percent($i);
    }

    .offset-width-percent-#{$i}-sm {
      @include offset-width-percent($i);
    }
  }

    .center-text-sm {
      text-align: center;
    }

    .margin-auto-sm {
      margin: auto;
    }

    .hidden-sm {
      visibility: hidden;
      position: absolute;
      left: -999999px;
    }
  }
}

@media (max-width: 1300px) {
  .hidden-md {
    display: none;
  }
}

@media (max-width: 850px) and (min-width: 601px){
  @for $i from 1 to 12 {
    .col-#{$i}-md {
      @include column($i);
    }
    .offset-col-#{$i}-md {
      @include offset-column($i);
    }
  }
}

@media (max-width: 1300px) {
  .col-12-md {
    width: 100%;
  }
}


