//TODO Útfæra header f. index og recipe
@import './config';
.navigation{
  width: 100%;
  height : 80px;
  
  display : flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  .logo{
  }

  .nav{
  }
  
  .nav__ul{
    list-style: none;
    display: flex;
  }
  li{
    margin : 12px;
  }
}