@import './config.scss';
.newsletter {
  background-color: $black;
  height: 330px;
  color: white;
  
  @media (max-width: 1300px) {
    height: auto;
  }

  &-box {
    @media (max-width: 1300px) {
      flex-direction: column;
      align-items: center;
      margin-top: 64px;
    }
  }

  &-content {
    margin-bottom: 40px;

    @media (max-width: 1300px) {
      text-align: center; 

      h3 {
        font-size: 20px;
      }
    }
  }

  .grid {
    height: 100%;
  }
  .row {
    height: 100%;
    align-content: center;
  }
  .subscriptions {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin-top: -2.75rem;

    @media (max-width: 1300px) {
      margin-top: 0;
      flex-direction: column;
      align-items: center;
      margin-bottom: 60px;
    }
  }
  button{
    margin-top: auto;
    margin-bottom: 1rem;
  }
  input{
    background-color: transparent;
    color: $white;
    border: 0;
    border-bottom: 1px solid $beige;
    margin-bottom: 1rem;
    font-family: 'Playfair Display', Georgia, serif;
    font-size: 1.375rem;
    font-weight: 700;
  }
  input::placeholder{
    color: #525252;
  }
  p{
    font-size: 0.875rem;
  }

  .email-inputs {
    margin-bottom: 20px;
  }
}
