//TODO Útfæra stýla fyrir spjöld
// Sækja config
@import './config';
.recipe-card {
  background-color: $white;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  height: 390px;
  margin-bottom: $bottom-margin;
  padding-bottom: $bottom-padding;
  .recipe-image{
    img {
      height: 100%;
      width: 100%;
      object-fit: fill;
    }
  }
  .recipe-date{
    font-size: 0.875rem;
    color: $gray-dark;
    padding-top: $top-padding;
    padding-left: $left-padding;
    padding-right: $right-padding;
  }
  .recipe-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: $left-padding;
    padding-right: $right-padding;
    p {
      font-size: 1.5rem;
      font-weight: 700;
      font-family: 'Playfair Display',Georgia,serif;
    }
    a {
      font-size: 1rem;
      font-family: 'Poppins', sans-serif,serif;
      font-weight: 400;
      color: $beige;
      text-decoration: none;
      margin: auto;
    }
  }
}

.latest-recipes-section {
  margin-bottom: $section-margin;
  button {
    margin: 0 auto;
    margin-top: 50px;
  }
  &__footer {
    display: flex;
  }
}
