//TODO Útfæra stýla fyrir spjöld
// Sækja config
@import './config';

.recipe-card {
  background-color: $white;
  display: flex;
  flex-direction: column;
  height: 390px;
  justify-content: space-between;
  margin-bottom: $bottom-margin;
  padding-bottom: $bottom-padding;

  .recipe-image img {
    height: 290px;
    object-fit: cover;
    width: 100%;
  }

  .recipe-date {
    color: $gray-dark;
    font-size: 0.875rem;
    padding-left: $left-padding;
    padding-right: $right-padding;
    padding-top: $top-padding;
  }

  .recipe-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: $left-padding;
    padding-right: $right-padding;
  }

  .recipe-content p {
    font-family: 'Playfair Display', Georgia, serif;
    font-size: 1.5rem;
    font-weight: 700;
  }

  .recipe-content a {
    color: $beige;
    font-family: 'Poppins', sans-serif, serif;
    font-size: 1rem;
    font-weight: 400;
    margin: auto;
    text-decoration: none;
  }
}

.recipe-section {
  margin-top: 10px;
}

.latest-recipes-section {
  margin-bottom: 0;
  padding-bottom: $section-margin;
  position: relative;

  &-color {
    background-color: #fafafa;
    bottom: 0;
    height: 66%;
    left: 0;
    position: absolute;
    right: 0;
    z-index: -1;
  }

  button {
    margin: 0 auto;
    margin-top: 50px;
  }

  &__footer {
    display: flex;
  }
}

.recipe-hero {
  background-image: url('img/pumpkin-pie.png');
  background-position: right;
  background-repeat: no-repeat;
  height: 720px;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 100vw;
}
