@import './config';

.recipe {
  width: 100%;
  margin-top: 90px;

  &-heading {
    color: #d0d0d0;
    font-size: 40px;
    margin-bottom: 40px;
  }

  &__ingredient {
    p {
      font-size: 18px;
    }

    h3 {
      color: #E3CDB1;
      display: inline;
      font-size: 36px;
      margin-right: 50px;
    }

    &-list {
      margin-top: 20px;
      margin-bottom: 20px;
      font-weight: 300;
    }
  }

  &__method {
    color: #5E5B69;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;

    p {
      margin-bottom: 30px;
    }
  }

  &-date {
    font-size: 0.875rem;
    color: $gray-dark;
    padding-top: $top-padding;
    padding-left: $left-padding;
    padding-right: $right-padding;
  }

  &-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: $left-padding;
    padding-right: $right-padding;
    p {
      font-size: 1.5rem;
      font-weight: 700;
      font-family: 'Playfair Display',Georgia,serif;
    }
    a {
      font-size: 1rem;
      font-family: 'Poppins', sans-serif,serif;
      font-weight: 400;
      color: $beige;
      text-decoration: none;
      margin: auto;
    }
  }
}


.video-section {
  margin-bottom: $section-margin;
  button {
    margin: 0 auto;
    margin-top: 50px;
  }
  &__footer {
    display: flex;
  }
}

br {
  margin-bottom: 5px;
}

.video-image {
  margin: 0 auto;
  height: 569.99px;
  width: 100vw;
  background-color: #000;
  color:  #ffffff;
  background-image: linear-gradient(to right, $black 40%, $transparent 80%),
  url("img/pie-video-image.png");
  background-repeat: no-repeat;
  background-position: right;
  margin-bottom: 10px;
}

.thumbnail {
  overflow: hidden;
  & > img {
    object-fit: scale-down;
  }
}

.video-grid{
  height: 100%;
}
