@import './config';

.recipe {
  margin-top: 90px;
  width: 100%;

  &-overview {
    display: flex;
    justify-content: space-between;
  }

  &-selection {
    align-items: center;
    display: flex;
    font-weight: 700;
  }

  &-selection input {
    appearance: none;
    border: 1px solid #3b4256;
    border-radius: 10%;
    height: 18px;
    margin-right: 20px;
    outline: none;
    vertical-align: middle;
    width: 18px;
  }

  &-selection input:checked {
    background-color: #ddd;
  }

  &-selection p {
    font-family: 'Playfair Display', Georgia, serif;
    font-size: 22px;
  }

  &-heading {
    color: #d0d0d0;
    font-size: 40px;
    margin-bottom: 40px;
  }

  &__ingredient p {
    font-size: 18px;
  }

  &__ingredient h3 {
    color: #e3cdb1;
    display: inline;
    font-size: 36px;
    margin-right: 50px;
  }

  &__ingredient-list {
    font-weight: 300;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  &__method {
    color: #5e5b69;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
  }

  &__method p {
    margin-bottom: 30px;
  }

  &-date {
    color: $gray-dark;
    font-size: 0.875rem;
    padding-left: $left-padding;
    padding-right: $right-padding;
    padding-top: $top-padding;
  }

  &-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: $left-padding;
    padding-right: $right-padding;
  }

  &-content p {
    font-family: 'Playfair Display', Georgia, serif;
    font-size: 1.5rem;
    font-weight: 700;
  }

  &-content a {
    color: $beige;
    font-family: 'Poppins', sans-serif, serif;
    font-size: 1rem;
    font-weight: 400;
    margin: auto;
    text-decoration: none;
  }
}

.video-section {
  margin-bottom: $section-margin;

  button {
    margin: 0 auto;
    margin-top: 50px;
  }

  &__footer {
    display: flex;
  }
}

br {
  margin-bottom: 5px;
}

.video-image {
  background-color: #000;
  background-image: linear-gradient(to right, $black 40%, $transparent 80%), url('img/pie-video-image.png');
  background-position: right;
  background-repeat: no-repeat;
  color: #fff;
  height: 569.99px;
  margin: 0 auto;
  margin-bottom: 10px;
  width: 100vw;
}

.thumbnail {
  overflow: hidden;

  .container {
    overflow: hidden;
    position: relative;
  }

  img {
    height: 100%;
    object-fit: fill;
    width: 100%;
  }

  .play-icon {
    height: 100px;
    left: 50%;
    position: absolute;
    top: 50%;
    visibility: hidden;
    width: 100px;
    z-index: 3;
  }
}

.thumbnail:hover {
  background-size: cover;
  position: relative;

  .container {
    background-color: #e3cdb1a0;
  }

  .play-icon {
    align-items: center;
    background-color: #e3cdb1a0;
    display: flex;
    height: 100%;
    justify-content: center;
    transform: translate(-50%, -50%);
    visibility: visible;
    width: 100%;
  }

  .play-icon img {
    height: 20%;
    width: 20%;
  }
}

.video-height {
  height: 100%;
}

.pie-description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
}

.specs-dark {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 18px;
  width: 75%;

  @media(max-width: 1280px) {
    flex-direction: column;
  }
}

.specs-dark-2 {
  flex-wrap: wrap;
  width: 38%;
}

.spec-item-dark {
  align-items: space-between;
  display: flex;
}

.spec-item-dark-2 {
  flex-wrap: nowrap;
  width: 161.75px;
}

.video-h1 {
  margin-bottom: 18px;

  @media(max-width: 600px) {
    font-size: 200%;
  }
}

.play-button {
  width: 150%;
  position: relative;
}

.video-player {
  display: flex;
  justify-content: space-evenly;
}

.oval-position {
  position: absolute;
  right: 18.7%;
  top: 42%;

  @media(max-width: 500px) {
    right: 10%;
    top: 25%;
  }
}

.play-position {
  position: absolute;
  right: 19%;
  top: 51.5%;
  margin-right: 50px;

  @media (max-width: 500px) {
    top: 34.5%;
    right: 10%;
  }
}

.img-margin {
  margin-right: 13.1px;
}

.row-no-margie-wargie-uwu {
  margin: 0;
}

.no-padding {
  padding: 0;
}
