@import './config';

.recipe {

  &-heading {
    color: #d0d0d0;
    font-size: 40px;
    margin-bottom: 40px;
  }

  &__ingredient {
    p {
      font-size: 18px;
    }

    h3 {
      color: #E3CDB1;
      display: inline;
      font-size: 36px;
      margin-right: 50px;
    }

    &-list {
      margin-top: 20px;
      margin-bottom: 20px;
      font-weight: 300;
    }
  }

  &__method {
    color: #5E5B69;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;

    p {
      margin-bottom: 30px;
    }
  }
}


.video-section {
  margin-bottom: $section-margin;
  button {
    margin: 0 auto;
    margin-top: 50px;
  }
  &__footer {
    display: flex;
  }
}

br {
  margin-bottom: 5px;
}

.video-image {
  height: 569.99px;
  width: 100vw;
  padding-top: 134px;
  padding-bottom: 154px;
  background-color: #000;
  color:  #ffffff;
  background-image: linear-gradient(to right, $black 40%, $transparent 80%),
  url("img/pie-video-image.png");
  background-repeat: no-repeat;
  background-position: right;
}




